<h2>Artists</h2>
<%= link_to "Create New Artist", new_artist_path %>
  <div>
    <ul>
      <% @artists.each do |artist| %>
      <li>
        <%= link_to artist.name, artist_path(artist) %>
      </li>
      <% end %>
    </ul>
  </div>
